.App {
  text-align: center;
  font-family: "Baloo Tammudu 2", cursive;
  width: 100%;
  background-color: #aebd05;
  margin-bottom: 40px;
}
.footer {
  color: red;
  font-size: large;
  text-align: center;
  font-weight: 1;
}

.bodyContainer {
  padding: 0px;
  margin-top: 80px;
  margin-bottom: 60px;
}
.profile {
  padding: 150px;
}
.card {
  color: red;
}

/* .parrotLogo {
  max-width: 5px;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-part {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #ff3354;
}

.bodyPart {
  background-color: #aebd05;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.userContainer {
  margin-top: 150px;
}
