.App {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.parrotLogo {
  width: 11%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.searchForm {
  margin-top: 20px;
  margin-left: 20px;
}
.profile {
  padding: 150px;
}
.card {
  color: red;
}

.profiletext {
  padding: 150px;
}
.header-part {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ff3354;
}
.bodyContainer {
  padding: 20px;
}
.form-control {
  border: 2px red solid;
}
.bodyPart {
  background-color: #aebd05;
}
.App-link {
  color: #61dafb;
}
.container {
  margin: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
